{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Finance Quest</title>
    
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style1.css' %}">
</head>

<body>
    <div class = "container">
        <div class = "initialScreen">
            <div class = "title">
                <h1>
                    <span>The smarter way for college students</span>
                    <strong><br>to visualize and manage <br>their finance</strong>
                </h1>
            </div>

            <div class = "getStarted">
                <div class = "startedButton">
                    <a href = "#fillForm" style = "color: white">Get Started</a>
                </div>
                <div class = "startedInfo">
                    <p>Start managing your finance for free</p>
                </div>
            </div>

                <div class = "formBox">

                </div>
                <div id = "fillForm">
                    <form method = "POST" action = "/studentFinance/home/bank/">
                        {% csrf_token %}
                        <div class = "form-group">
                            <label for = "firstName">First Name: </label><br>
                            <input type = "text" name = "firstName" id = "firstName"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "lastName">Last Name: </label><br>
                            <input  type = "text" name = "lastName" id = "lastName"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "email">Email: </label><br>
                            <input  type = "text" name = "email" id = "email"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "phoneNumber">Phone number: </label><br>
                            <input  type = "text" name = "phoneNumber" id = "phoneNumber"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "university">University: </label><br>
                            <input  type = "text" name = "university" id = "university"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "salary">Salary per month: </label><br>
                            <input  type = "text" name = "salary" id = "salary"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "dining">Dining comon fees:</label><br>
                            <input  type = "text" name = "dining" id = "dining"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "housing">Housing fees: </label><br>
                            <input  type = "text" name = "housing" id = "housing"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "parking">Parking fees:  </label><br>
                            <input  type = "text" name = "parking" id = "parking"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "annualTuition">Annual college tuition: </label><br>
                            <input  type = "text" name = "annualTuition" id = "annualTuition"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "budget">How much to spend max?: </label><br>
                            <input  type = "text" name = "budget" id = "budget"><br><br>
                        </div>
                        <div class = "form-group">
                            <label for = "budget">Submit</label><br>
                          <input type="submit" value="Submit">
                        </div>

                    </form>
                </div>
            
        </div>
    </div>
</body>
</html>