{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Finance Quest</title>
    
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}">
</head>

<body>
    <div class = "container">
        <div class = "initialScreen">
            <div class = "title">
                <h1>
                    <span>The smarter way for college students</span>
                    <strong><br>to visualize and manage <br>their finance</strong>
                </h1>
            </div>

            <div class = "getStarted">
                <div class = "startedButton">
                    <a href = "bank/" style = "color: white">Get Started</a>
                </div>
                <div class = "startedInfo">
                    <p>Start managing your finance for free</p>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>